<header class="p-3 text-bg-dark">

  <div class="container-paralex">
    <img class="p-fon" src="/paralex/99px_ru_wallpaper_176418_skazochnaja_dolina_kotoruu_peresekaet_rechka_s_nebolshim_vodopadom_watermarked.jpeg" alt="">
    <img class="p-item-1" src="/paralex/ec7ee648ec864b3ba8371ce8a827c824.png" alt="">
  </div>

    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-secondary">Главная</a></li>
          <li><a href="http://localhost:3000/news" class="nav-link px-2 text-white">Новости</a></li>
          <li><a href="#" class="nav-link px-2 text-white my-profil">Моя страница</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Поиск..." aria-label="Поиск">
        </form>

        <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2">Войти</button>
          <button type="button" class="btn btn-warning">Зарегистрироваться</button>
        </div>
      </div>
    </div>
  </header>
  <script src="/js/singInUp.js">
  </script>
  <script src="/paralex/paralex_js.js"></script>