<section class="auth-section">
    <form method="post" enctype="application/json"
  action="http://localhost:3000/news/reading"
    class="formNews" style="display: none; flex-direction: column">
    <input type="email" class="emeil" placeholder="Адрес почты">
    <input type="pasword" class="pasword" placeholder="Пароль">
    <input type="submit" value="Регистрация" class="submit">
    </form>
    <a href="http://localhost:3000/auth/singUp" class="register">Уже зарегистрирован</a>
</section>